<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngFor="let recordedPath of recordedPaths">
        <span>{{ recordedPath }}</span>
    </div>

    <ion-button (click)="record()" *ngIf="!currentRecordedFile && !isPlaying">Record</ion-button>
    <ion-button (click)="stopRecording()" *ngIf="!!currentRecordedFile">Stop Recording</ion-button>
    <ion-button (click)="play()" *ngIf="!!lastRecordedFile && !currentRecordedFile">Play</ion-button>
    <ion-button (click)="stop()" *ngIf="!!lastRecordedFile && isPlaying">Stop Playing</ion-button>
  </div>
</ion-content>
